<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Compensation:</b>
  <%= @task.compensation %>
</p>

<p>
  <b>Contactinfo:</b>
  <%= @task.contactInfo %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
